{% extends "addTeacher.html" %}

{% block  body_block %}
<div class="Hui-article">
	<article class="cl pd-20">

		<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">

						<th width="80">t_id</th>
						<th width="80">t_idto</th>
						<th width="100">t_num1</th>
						<th width="100">t_num2</th>
						<th width="100">t_num3</th>
						<th width="100">t_num4</th>
						<th width="100">t_num5</th>
						<th width="100">t_num6</th>
						<th width="100">t_num7</th>
						<th width="100">t_num8</th>
						<th width="100">t_num9</th>
						<th width="100">t_num10</th>
					</tr>
				</thead>
				<tbody id="tab">

				</tbody>
			</table>
		</div>
	</article>
	<a href="/outputDepartmentGeifen" ><input class="btn btn-primary radius"  type="submit" value="导出表"></a>
</div>

<script>
	$.ajax({
		async: false,
		type: 'POST',
		url: '/getDepartmentGeifen',
		data: {
		},
		dataType: 'json',
		success: function (data, stats) {
			for (var i = 0, len = data.length; i < len; i++) {
				$("#tab").append("\
				<tr class='text-c'>\
								<td>"+data[i]['t_idfrom']+"</td >\
								<td>"+data[i]['t_idto']+"</td >\
								<td>"+data[i]['t_num1']+"</td >\
								<td>"+data[i]['t_num2']+"</td >\
								<td>"+data[i]['t_num3']+"</td >\
								<td>"+data[i]['t_num4']+"</td >\
								<td>"+data[i]['t_num5']+"</td >\
								<td>"+data[i]['t_num6']+"</td >\
								<td>"+data[i]['t_num7']+"</td >\
								<td>"+data[i]['t_num8']+"</td >\
								<td>"+data[i]['t_num9']+"</td >\
								<td>"+data[i]['t_num10']+"</td >\
							</tr >\
					");
			}

		},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			console.log('Wrong~');
		}
	}
	);
</script>
{% endblock %}