{% extends "addTeacher.html" %}

{% block  body_block %}
<div class="Hui-article">
	<article class="cl pd-20">

		<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">

						<th width="80">t_name</th>
						<th width="100">score</th>
					</tr>
				</thead>
				<tbody id="tab">

				</tbody>
			</table>
		</div>
	</article>
	<a href="/outputTeacherDefen" ><input class="btn btn-primary radius"  type="submit" value="导出表"></a>
</div>

<script>
	$.ajax({
		async: false,
		type: 'POST',
		url: '/checkTeacherCount',
		data: {
		},
		dataType: 'json',
		success: function (data, stats) {
			if (data.length != 0) {
				alert("以下id还未评分" + JSON.stringify(data));
			}

			$.ajax({
				async: false,
				type: 'POST',
				url: '/collectTeacherScore',
				data: {
				},
				dataType: 'json',
				success: function (data, stats) {
					alert("计算评分成功");
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					console.log('Wrong~');
				}
			}
			);
			$.ajax({
				async: false,
				type: 'POST',
				url: '/getTeacherDefen',
				data: {
				},
				dataType: 'json',
				success: function (data, stats) {
					for (var i = 0, len = data.length; i < len; i++) {
						$("#tab").append("\
						<tr class='text-c'>\
								<td>"+ data[i]['t_name'] + "</td >\
								<td>"+ data[i]['score'] + "</td >\
							</tr >\
					");
					}

				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					console.log('Wrong~');
				}
			}
			);

		},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			console.log('Wrong~');
		}
	}
	);
</script>
{% endblock %}