{% extends "index.html" %}

{% block  _menu %}
<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 评分<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a href="/teacherScore" title="处级评分">处级评分</a></li>
					<li><a href="/bumenScore" title="部门评分">部门评分</a></li>
				</ul>
			</dd>
		</dl>

	</div>

	<p style="padding: 40px;text-indent: 2em;    font-size: 16px;">
		处级干部考核主要结合2019年工作实际，重点对处级领导人员的德、能、勤、绩、廉五个方面进行全面考核，每个方面分为A（9分）、B（8分）、C（7分）、D（5分）四个等次进行评价评定，最后由学校党委研究确定考核结果。
	</p>

	<p style="text-align: center;">
		<a style="text-decoration-line:underline;" target="_blank" href="http://www.hebiace.edu.cn/art/2020/4/3/art_6_14330.html">河北建筑工程学院2019年度部门工作总结和处级人员工作总结链接(解压密码：zzb4187623)</a>
	</p>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>

{% endblock %}

{% block  body_block %}

<div class="Hui-article">
	<article class="cl pd-20">

		<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead style="vertical-align: top;">
					<tr class="text-c">
						<th width="80">序号</th>
						<th width="80" style="text-align: center!important;">姓名</th>
						<th width="80">
							德。全面考核领导人员政治品质和道德品行。重点了解坚定理想信念、对党忠诚、尊崇党章、遵守政治纪律和政治规矩，坚守忠诚老实、公道正派、实事求是、清正廉洁等情况。</th>
						<th width="80">
							能。全面考核领导人员运用马克思主义立场、观点和方法，分析研究、解决实际问题的能力，开拓创新的能力，特别是应对突发事件、群体性事件过程中的政治能力、专业素养和组织领导能力等情况。
						</th>
						<th width="80">
							勤。全面考核领导人员的精神状态和工作作风，执行民主集中制，维护班子团结，发扬民主，严格管理，敢于负责，敢于担当，重点了解发扬革命精神、斗争精神，坚持“三严三实”，勤勉敬业、恪尽职守、紧抓快办、锐意进取、甘于奉献等情况。
						</th>
						<th width="80">
							绩。全面考核领导人员工作实绩，坚持正确政绩观，履职尽责、完成日常工作、党建工作、年度工作目标、承担急难险重任务、处理复杂问题、应对重大考验等情况和实际成效。
						</th>
						<th width="80">
							廉。全面考核领导人员落实党风廉政建设“一岗双责”政治责任，遵守廉洁自律准则，带头落实中央八项规定及其实施细则精神，秉公用权，树立良好家风，严格要求亲属和身边工作人员，反对“四风”和特权思想、特权现象等情况。
						</th>
					</tr>
				</thead>
				<tbody id="tab">

				</tbody>
			</table>
		</div>
	</article>

	<script type="text/javascript">
		$.ajax({
			async: false,
			type: 'POST',
			url: '/getTeacherinfo',
			data: {
			},
			dataType: 'json',
			success: function (data, stats) {
				if (data[0]['t_name'] == '已评分或无权限') {
					alert("已评分或无权限");
					// $(".Hui-article").append('<input id="btn_chongxuan" class="btn btn-primary radius" type="submit" value="重选">')
					return;
				}
				var names = new Array();
				for (var i = 0, len = data.length; i < len; i++) {
					// names[i] = data[i]['t_name'];
					var style=""
					if(data[i]['order1']<0){
						style="style='font-weight:bold;'"
					}
					$("#tab").append("\
							<tr class='text-c'>\
							<td>" + data[i]['order1'] + "</td>\
							<td "+style+">" + data[i]['t_name'] + "</td>\
							<td>\
								<input type='radio' name=1" + data[i]['t_id'] + " value='A'>A</input>\
								<input type='radio' name=1" + data[i]['t_id'] + " value='B'>B</input>\
								<input type='radio' name=1" + data[i]['t_id'] + " value='C'>C</input>\
								<input type='radio' name=1" + data[i]['t_id'] + " value='D'>D</input>\
							</td>\
							<td>\
								<input type='radio' name=2" + data[i]['t_id'] + " value='A'>A</input>\
								<input type='radio' name=2" + data[i]['t_id'] + " value='B'>B</input>\
								<input type='radio' name=2" + data[i]['t_id'] + " value='C'>C</input>\
								<input type='radio' name=2" + data[i]['t_id'] + " value='D'>D</input>\
							</td>\
							<td>\
								<input type='radio' name=3" + data[i]['t_id'] + " value='A'>A</input>\
								<input type='radio' name=3" + data[i]['t_id'] + " value='B'>B</input>\
								<input type='radio' name=3" + data[i]['t_id'] + " value='C'>C</input>\
								<input type='radio' name=3" + data[i]['t_id'] + " value='D'>D</input>\
							</td>\
							<td>\
								<input type='radio' name=4" + data[i]['t_id'] + " value='A'>A</input>\
								<input type='radio' name=4" + data[i]['t_id'] + " value='B'>B</input>\
								<input type='radio' name=4" + data[i]['t_id'] + " value='C'>C</input>\
								<input type='radio' name=4" + data[i]['t_id'] + " value='D'>D</input>\
							</td>\
							<td>\
								<input type='radio' name=5" + data[i]['t_id'] + " value='A'>A</input>\
								<input type='radio' name=5" + data[i]['t_id'] + " value='B'>B</input>\
								<input type='radio' name=5" + data[i]['t_id'] + " value='C'>C</input>\
								<input type='radio' name=5" + data[i]['t_id'] + " value='D'>D</input>\
							</td>\
							</tr>\
							");
				}
				$(".Hui-article").append("<input style='margin:0 auto;display:block;    margin-bottom: 50px;' class='btn btn-primary radius'  type='submit' id='submit' value='提交'>");
				$("#submit").click(function () {
					var o = new Object;
					var inputs = $("input");
					inputs.each(function () {
						if (this.checked) {
							o[this.name] = this.value
						}
					});

					var json = JSON.stringify(o);
					$.ajax({
						async: true,
						type: 'POST',
						url: '/postTeacherScore',
						data: {
							json
						},

						success: function (data) {
							alert(data);
							if (data == '提交完成') { window.location.reload(); }
						},
						error: function () {
							console.log('Wrong~');
						}
					});
				});

			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				console.log('Wrong~');
			}
		}
		);

		$("#btn_chongxuan").click(function () {
			$.ajax({
				async: true,
				type: 'POST',
				url: '/clearTeacherGeifen',
				data: {
				},

				success: function (data) {
					alert(data);
					if (data == '提交完成') { window.location.reload(); }
				},
				error: function () {
					console.log('Wrong~');
				}
			});
		});

		$("input").on("change", (function () {
			var inputs = $("#tab>tr");
			inputs.each(function () {
				var radios = $(this).find("td")
				radios.each(function (a, b) {
					if (a > 0) {
						for (var i = 0; i < 4; i++) {
							var radio = $(b).find("input")[i];
							if (radio.checked) {
								b.style.backgroundColor = "#5a98de";
								break;
							}
						}
					}
				});

			});
		}));
	</script>

</div>
{% endblock %}

{% block  script_block %}
<script type="text/javascript" src="static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(function () {
		$('.table-sort').dataTable({
			"paging": false,
			"aaSorting": [0, "asc"],//默认第几个排序 asc desc
			"bStateSave": false,//状态保存
			"aoColumnDefs": [
				{ "bVisible": false, "aTargets": [0] } //控制列的隐藏显示
				// { "orderable": false, "aTargets": [0, 8, 9] }// 制定列不参与排序
			]
		});

	});

</script>
{% endblock %}